@model SchoolManagement.Model.Password



@Html.HiddenFor(model => model.PasswordID)


<table>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Code)
            @*  @Html.ValidationMessageFor(model => model.Code)*@
        </td>
        <td></td>
        <td></td>
        <td></td>

        <td>
           @Html.DisplayFor(model => model.DateCreated)
            <td>
                  @*  @{
                        string theDate = String.Format("{0:ddd, MMM d, yyyy}", model.DateCreated); 
                    }
                   <b>@theDate</b>
                  *@
               

        </td>

        <td></td>
        <td></td>
        <td></td>
        <td>
            @Html.CheckBoxFor(model => model.GivenOut)
            @Html.LabelFor(model => model.GivenOut)
            @*  @Html.ValidationMessageFor(model => model.GivenOut)*@
        </td>
    </tr>



</table>


@*  <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>*@
@*}*@

