@model PagedList.IPagedList<SchoolManagement.Model.DeductionHistory>
@{
    ViewBag.Title = "Index";
}

<h4>DEDUCTION HISTORY</h4>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@using (Html.BeginForm())
{

    <fieldset>
        <legend>Search Box</legend>

        <table>
            <tr>

                <td>
                    <b>Date From:</b>
                </td>
                <td>
                    @Html.TextBox("datefrom", ViewBag.CurrentFilter as string) &nbsp;
                </td>
            </tr>

            <tr>

                <td>
                    <b>Date To:</b>
                </td>
                <td>
                    @Html.TextBox("dateto", ViewBag.CurrentFilter as string) &nbsp;
                </td>
            </tr>


            <tr>


            <tr>

                <td>
                    <b>Find by Staff ID:</b>
                </td>
                <td>
                    @Html.TextBox("staffid", ViewBag.CurrentFilter as string) &nbsp;
                </td>
            </tr>

        </table>
        <input type="submit" value="Search" id="button" class="btn-primary" />
        <br />
    </fieldset>

}
<br />
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th>
            <b>Staff ID</b>
        </th>
        <th>
            <b>Description</b>
        </th>
        <th>
            <b>Payment Date</b>
        </th>

        <th>
            <b>Amount Deducted</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @string.Format("{0:dd-MMM-yyyy, hh:mm tt}", @item.DatePaid)
                @*@Html.DisplayFor(modelItem => item.DatePaid)*@
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AmountDeducted)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.DeductionHistoryID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.DeductionHistoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.DeductionHistoryID })
                </td>*@
        </tr>
    }

</table>
<table>
    <tr>
        <td>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            &nbsp;
        </td>
        @if (Model.HasPreviousPage)
        {
            <td>
                @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            </td>
            @Html.Raw("&nbsp;")
            <td>
                @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            </td>
        }
        else
        {
            <td>
                <<
            </td>
            <td>
                @Html.Raw("&nbsp;")
                < Prev
            </td>
        }
        &nbsp;
        @if (Model.HasNextPage)
        {
            <td>
                @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            </td>
            <td>
                @Html.Raw("&nbsp;")
            </td>
            <td>
                @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            </td>
        }
        else
        {
            <td>
                Next >
            </td>
            <td>
                @Html.Raw("&nbsp;")
            </td>
            <td>
                >>
            </td>
        }
    </tr>
</table>
@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")*@

    <script>
        $(document).ready(function () {
            $("#dateto").datepicker({
                changeMonth: true,
                changeYear: true,
                //dateFormat: 'mm/dd/yy',
                gotoCurrent: true
            });

            $("#datefrom").datepicker({
                changeMonth: true,
                changeYear: true,
                //dateFormat: 'mm/dd/yy',
                gotoCurrent: true
            });

        });
    </script>

}
